<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
   

    <title>Welcome</title>

    <style>
        body {
            margin: 0;
           
            box-sizing: border-box;
        }

        header {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr; 
            gap: 10px; 
            align-items: center; 
            padding: 10px; 
            background-color: #f4f4f4; 
            width: 100%;
        position:fixed
            margin: 0 auto; 
            grid-template-areas:
                "nav logo button"; 
        }

        #nav {
            grid-area: nav; 
        
            display: flex;
           
          
        }

        #logo {
            grid-area: logo; 
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px; 

            text-align: center; 
        }

        #button {
            grid-area: button;
           
            display: flex;
            gap: 20px; 
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
            padding: 10px 20px;
            border-radius: 5px;
            text-align: center;
        }

        .button-style {
            text-decoration: none;
           margin-right:10px;
            color: black;
            background-color: mediumpurple;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
        }

            .button-style:hover {
                background-color: #0056b3;
            }

        

        main {
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <div id="nav">
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/menu-bar-1515514-1283116.png" height="100" width="100" alt="Menu" />
        </div>

        <div id="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDSB5WEdqXmt_geN8Kuw4Orjw8wuPbUyHnKg&s" height="100" width="200" alt="Travel Logo" />
            <h2>WELCOME</h2>
        </div>

        <div id="button">
            <a href="/Home/Index" class="button-style">REGISTER</a>
            <a href="/Home/Login" class="button-style">LOGIN</a>
        </div>
    </header>
    <main>
        
    </main>
</body>
</html>
